@charset "UTF-8";

body{
    height: max-content;
}

header{
    background: linear-gradient(120deg, green, #BFA93F);
    padding:10px;
}
header h1{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 1px 1px black;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
   min-height: 100vh;
   padding-bottom: 30px;
}

.dados{
    width: 100%;
    gap: 10px;
    padding: 10px;
}
.dados table{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    overflow-x: auto;
}

td{
    border: 1px solid black;
    padding: 20px;
    text-decoration: underline;
}



button{
    height: 35px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}